@use "../base/variables";


.app {
  font-family: variables.$font;
  padding: variables.$space-6;
}

.app__header {
  margin-bottom: variables.$space-6;
}

.search-section {
  display: flex;
  gap: 12px;
  margin-bottom: variables.$space-6;
}

.results-section {
  min-height: 100px;
  border: variables.$border;
  padding: variables.$space-4;
  border-radius: 8px;
}