@use "../base/variables" as v;


.app, .app-dark {
  font-family: v.$font;
  padding: v.$space-6;
  color: v.$black;
  background-color: v.$white;
}
.app-dark {
  color: v.$white;
  background-color: v.$black;
}
.container {
  display: flex;
  gap: v.$space-4;
  align-items: flex-start;
  margin-top: v.$space-4;
  width: 100%;
  &.empty {
    align-items: center;
  }
}
.results-section {
  border: v.$border;
  padding: v.$space-4;
  border-radius: v.$radius;
  min-height: 80vh;
  &.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: v.$space-4;
    p, b {
      font-size: 24px;
    }
  }
}