@use "../base/variables";


.app {
  font-family: variables.$font;
  padding: variables.$space-6;
}

.app__header {
  margin-bottom: variables.$space-6;
}
.results-section {
  border: variables.$border;
  padding: variables.$space-4;
  border-radius: variables.$radius;
  min-height: 80vh;
  &.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: variables.$space-4;
    p, b {
      font-size: 24px;
    }
  }
}