@use "../base/variables";

.popinPicture {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: variables.$space-6;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 999;
    img {
        max-width: calc(100% - variables.$space-3);
        max-height: calc(100% - variables.$space-3);
    }
}
.card_img {
    cursor: pointer
}