@use "../base/variables" as v;

.container-filter {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.filters, .filters-dark {
    background-color: v.$grey;
    padding: v.$space-5 v.$space-4;
    border-radius: v.$radius;
    margin-bottom: v.$space-3;
    text-align: left;
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden;
    height: fit-content;
    &.games.fixed {
        position: fixed;
        z-index: 99;
        left: 0;
        width: 100vw;
        bottom: 0;
        margin-bottom: 0;
        max-height: calc(100vh - 220px);
        overflow-y: auto;
        @media (min-width: v.$s) {
        position: sticky;
        z-index: 99;
        left: 10px;
        top : 253px;
        width: 100%;
        max-width: 200px;
        bottom: auto;
        max-height: none;
        margin-bottom: 12px;
        overflow: visible;
        &.open {
            bottom: 106px;
            
        } 
       }  
       @media (min-width: v.$m) {
            top : 215px;
            &.open {
                bottom: 106px;
            } 
       }
       @media (min-width: v.$l) {
            top : 215px;
            &.open {
                bottom: 90px;
            } 
       }
       @media (min-width: v.$xl) {
            left: auto;
            top: 216px;
            max-width: none;
            &.open {
                max-height: calc(100vh - 200px);
                bottom: auto;
            }
        }
    }
    &.fixed {
       @media (min-width: v.$s) {
        position: fixed;
        z-index: 99;
        left: 10px;
        top : 308px;
        max-width: 200px;
        &.open {
            bottom: 106px;
            
        } 
       }  
       @media (min-width: v.$m) {
            top : 220px;
            &.open {
                bottom: 106px;
            } 
       }
       @media (min-width: v.$l) {
            top : 220px;
            &.open {
                bottom: 90px;
            } 
       }
       @media (min-width: v.$xl) {
            width: auto;
            left: auto;
            top: 310px;
            max-width: none;
            &.open {
                max-height: 480px;
                bottom: auto;
            }
        }
        
    }
    &__container {
        overflow: hidden;
        max-height: 0;
        transition: v.$transition;
        display:flex;
        flex-direction: column;
        &.show {
            overflow: visible;
            max-height: 90%;
        }
    }
    &__card {
        margin-top: v.$space-2;
        padding: v.$space-2 0;
        border-top: 1px solid v.$white;
        * {
            font-size: 12px;
        }
        h3 {
            margin-bottom: v.$space-2;
        }
    }
    &__buttons {
            display: flex;
            flex-wrap: wrap;
            gap: v.$space-2;
            
    }
    &__selected {
        width: 100%;
    }

}
.filters-dark {
    background-color: v.$darkGrey;
}
.gameFilters {
    &__jauge {
        input {
            width: 100%;
        }
    }
    &__duration {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 8px;
    }
}