@use "../base/variables" as v;

.container-filter {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.filters, .filters-dark {
    background-color: v.$grey;
    padding: v.$space-5 v.$space-4;
    border-radius: v.$radius;
    margin-bottom: v.$space-3;
    text-align: left;
    &.fixed {
       @media (min-width: v.$s) {
        position: fixed;
        z-index: 99;
        left: 10px;
        top : 270px;
        max-width: 200px;
        &.open {
            bottom: 185px;
            
        } 
       }  
       @media (min-width: v.$m) {
            top : 220px;
            &.open {
                bottom: 185px;
            } 
       }
       @media (min-width: v.$l) {
            top : 220px;
            &.open {
                bottom: 90px;
            } 
       }
       @media (min-width: v.$xl) {
            width: auto;
            margin-left: 2%;
            left: auto;
            top: 250px;
            max-width: none;
            &.open {
                bottom: 0;
            }
        }
        
    }
    &__container {
        overflow: hidden;
        max-height: 0;
        transition: v.$transition;
        display:flex;
        flex-direction: column;
        &.show {
            overflow: scroll;
            max-height: 90%;
        }
    }
    &__card {
        margin-top: v.$space-2;
        padding: v.$space-2 0;
        border-top: 1px solid v.$white;
        * {
            font-size: 12px;
        }
        h3 {
            margin-bottom: v.$space-2;
        }
    }
    &__buttons {
            display: flex;
            flex-wrap: wrap;
            gap: v.$space-2;
            
    }
    &__selected {
        width: 100%;
    }

}
.filters-dark {
    background-color: v.$darkGrey;
}