@use "../base/variables" as v;

.container_search {
  display: flex;
  flex-direction: column;
  flex: 6;
  position: relative;
  padding: 0 v.$space-2 0 0;
}

.media-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: v.$space-3;
  padding: 0 3px;
  @media (min-width: v.$xxl) {

      justify-content: flex-start;
  }
  &.list {
    flex-direction: column;
  }
}