@use "../base/variables";

.app {
    &__header {
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
        background-color: variables.$primary;
        z-index: 1;
        padding: variables.$space-4;
        display: flex;
        gap: variables.$space-4;
        align-items: center;
        justify-content: space-between;
        

        .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
        }
    }
    &__logo {
        max-width: 390px;
        width: 100%;
        svg {
            width: 100%;
            height: auto;
        }
    }
    &__search {
       width: 100%;
       max-width: 540px;
       display: flex;
       flex-direction: column;
       gap: variables.$space-4;
    }
}