@use "../base/variables" as v;

.app {
    &__header {
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
        background-color: v.$primary;
        z-index: 1;
        gap: v.$space-1;
        padding: v.$space-3;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 220px;
        z-index: 999;
        flex-wrap: wrap;
        @media (min-width: v.$xs) {
            height: 200px;
            align-items: center;
        }
        @media (min-width: v.$m) {
            padding: v.$space-4;
            height: 150px;
        }
        @media (min-width: v.$xl) {
            flex-wrap: nowrap;
            gap: v.$space-10;
        }
        &.dark {
            background-color: v.$primary-dark;
        }

        .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
        }
    }
    &__logo {
        max-width: 220px;
        width: 100%;
        position: relative;
        top: v.$space-1;
        padding-bottom: 0;
        order:1;
        @media (min-width: v.$xxs) {
            max-width: 246px;
        }
        @media (min-width: v.$xxs2) {
            max-width: 280px;
        }
        @media (min-width: v.$xs) {
            max-width: 300px;
        }
        @media (min-width: v.$s) {
            max-width: 310px;
        }
        @media (min-width: v.$m) {
            padding-bottom: v.$space-6;
            order: 1;
        }
        @media (min-width: v.$xl) {
            max-width: 390px;
            padding-bottom: 0;
        }
        svg {
            width: 100%;
            height: auto;
        }
        &.dark {
            svg {
                fill: v.$white;
            }
        }
    }
    &__search {
       width: 100%;
       display: flex;
       flex-direction: column;
       gap: v.$space-4;
       order:3;
        @media (min-width: v.$m) {
            order: 2;
            flex: 1;
            padding:0 3%;
            max-width: calc(540px + 6%);
        }
       @media (min-width: v.$xl2) {
        max-width: calc(540px + 10%);
        padding: 0 5%;
       }
       form {
        max-width: 540px;
        padding: 0;
       }
       @media (min-width: v.$xl) {
        flex: auto;
       }
    }
}