@use "../base/variables" as v;

.search {
    &__info{
        font-size: 14px;
        font-weight: bold;
        @media (min-width: v.$xs) {
           font-size: 16px;  
        }
    }
    &__form {
        width: 100%;
        display: flex;
        gap: v.$space-2;
    }
    &__input {
        flex: 1;
        padding: v.$space-2;
        border-radius: v.$radius;
        border: v.$border;
        background-color: v.$white;
        &.dark {
            background-color: v.$black;
            border-color: v.$black;
            color: v.$white;
            &::placeholder {
                color: v.$grey;
            }
        }
    }

}