@use "./base/reset";
@use "./base/variables" as v;
@use "./base/mixins";

@use "./components/app";
@use "./components/header";
@use "./components/searchbar";
@use "./components/lastsearch";
@use "./components/grid";
@use "./components/card";
@use "./components/cardImg";
@use "./components/filters";
@use "./components/tooglemode";
@use "./components/radiofilter";

* {
    font-family: v.$font;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  color: v.$black;
  background-color: v.$white;
  &.dark {
    color:v.$white;
    background-color: v.$darkGrey;
  }
}
.mention {
    display: flex;
    align-items: center;
    font-family: v.$font;
    img {
        margin-right: v.$space-4;
    }
    .small {
        font-size: 13px;
    }
}
.cta-primary {
  @include mixins.cta("cta-primary");
}
.cta-secondary {
  @include mixins.cta("cta-secondary");
}
.cta-tertiary {
  @include mixins.cta("cta-tertiary");
}


.cta-acc {
    @include mixins.link("cta-acc"); 
}

.cta-primary-dark {
  @include mixins.cta("cta-primary-dark");
}
.cta-secondary-dark {
  @include mixins.cta("cta-secondary-dark");
}
.cta-tertiary-dark {
  @include mixins.cta("cta-tertiary-dark");
}

.cta-acc-dark {
    @include mixins.link("cta-acc-dark"); 
}