@use "./base/reset";
@use "./base/variables";
@use "./base/mixins";

@use "./components/app";
@use "./components/header";
@use "./components/searchbar";
@use "./components/grid";
@use "./components/card";
@use "./components/cardImg";


* {
    font-family: variables.$font;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mention {
    display: flex;
    align-items: center;
    font-family: variables.$font;
    img {
        margin-right: variables.$space-4;
    }
    .small {
        font-size: 13px;
    }
}
