@use "./components" as *;
@use "./variables" as v;
@use "sass:map";

@mixin cta($name) {
  $conf: map.get($components, $name);

  background: map.get($conf, bg);
  color: map.get($conf, color);
  border-radius: map.get($conf, radius);
  border: map.get($conf, border);
  padding: map.get($conf, padding);
  font-size: map.get($conf, textsize);
  cursor: pointer;
  font-weight:  map.get($conf, weight);

  &:hover {
    background: map.get($conf, hoverbg);
    color: map.get($conf, hover-text);
    border-color: map.get($conf, hoverbordercolor);
  }
  &:focus, &:active {
    background: map.get($conf, focusBg);
    color: map.get($conf, focusText);
    border-color: map.get($conf, focusBorder);
  }
  &.selected {
    background: map.get($conf, seletedbg);
  }
}
@mixin link($name) {
    $conf: map.get($components, $name);
    color: map.get($conf, color);
    cursor: pointer;
    background: none;
    border: 0;
    display: flex;
    align-items: center;
    gap: v.$space-3;
    font-weight: bold;
    width: 100%;
    justify-content: space-around;

     &:hover {
      .label {
          text-decoration: none;
      }
     }
     span {
       text-decoration: none;
       &.label {
        text-decoration: underline;
        font-size: 13px;
        text-transform: uppercase;
        flex: 2;
        text-align: left;
        @media (min-width: v.$xs) {
          font-size: map.get($conf, textsize);
        }
       }
     }
     .picto {
          @media (min-width: v.$s) {
           flex:1;
          }
      svg {
        width: 60px;
        height: auto;
        fill: map.get($conf, color);
      }
     }
  }