$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;

$radius: 10px;

$border: 1px solid #ddd;
$borderBlack: 1px solid #000;

$font: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

$primary: #FFCC00;
$black: #000000;
$white: #ffffff